@font-face {
  font-family: 'Cuprum';
  src: local('cuprum'),
       url(../fonts/cuprum.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumbold'),
       url(../fonts/cuprumbold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumbolditalic'),
       url(../fonts/cuprumbolditalic.woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumitalic'),
       url(../fonts/cuprumitalic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PTsans';
  src: local('ptsans'),
       url(../fonts/ptsans.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTsans';
  src: local('ptsansbold'),
       url(../fonts/ptsansbold.woff2);
  font-weight: 700;
  font-style: normal;
}




body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum','Arial',sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
 
  background-color: #ffffff;
  
}


a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #f1f5f7;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.main-header h1 {
  width: 220px;
  margin: 0;
  
  box-shadow: 0 5px 0 0 #b52933;
  background-color: #ee3643;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  
}

.user-toolkit {
  display: flex;
  
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  
}  

.logo a {
  display: inline-block;
  padding: 9px 55px;  
}

.main-header-wrapper {
  width: 100%;
  
  background-color: #293449;
  margin-bottom: 45px;
}

.container {
  width: 940px;
  margin: 0 auto;
  
}

.search-form {
	position: relative;
}

.search-form label {
	position: absolute;
	top: 12px;
	left: 17px;
}

.search-form input {
  width: 220px;
  padding: 12px 0;
  padding-left: 50px;
  
  border: none;
  background-color: transparent;
  font: inherit;
  color: #fff;
  
}

.search-form:hover {
	background-color: #212a3a;
}

.search-form:hover path {
	fill: #fff;
}

.search-form input:focus ~ label path {
 fill:red;
}

.search-form input:focus {
 background-color:#fff;
 color:#111;
}
.search-form input:focus::-webkit-input-placeholder {
 color:#111;
}
.search-form input:focus:-ms-input-placeholder,
.search-form input:focus::-ms-input-placeholder {
 color:#111;
}


.header-buttons {
    display: flex;
  
	padding: 0;
	margin: 0;
	list-style: none;
	
}
.menu-item {
	position: relative;
	width: 150px;
	text-align: center;
	
}

.menu-item svg {
	position: absolute;
	top: 12px;
	left: 17px;
}

.menu-item path {
	fill: #6a7180;
}

.menu-item:hover path,
.menu-item:focus path,
.menu-item:hover circle,
.menu-item:focus circle
 {
	fill: #fff;
}

.menu-item:hover,
.menu-item:focus {
	background-color: #212a3a;
}

.menu-item:active a {
	color: #6a7180;
}

.menu-item:active path,
.menu-item:active circle {
	 fill: #6a7180;
}

.menu-item:last-child {
	background-color: #63a63e;
}

.menu-item:last-child:hover,
.menu-item:last-child:focus {
	background-color: #5fbb2d;
}

.menu-item:last-child:active {
	background-color: #518534;
}

.ordering:active {
	color: #80a66b;
}
	
.header-buttons a {
  display: block;
  color: #fff;
}

.header-buttons a:not(.ordering) {
	padding: 12px 0 12px 17px;
}

.header-buttons .ordering {
  padding: 12px 0;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}	
	
.about .description {
  width: 205px;
  line-height: 23px;
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  
}

.about .header-contacts {
  position: relative;
}

.about .header-contacts a {
  display: block;
  width: 265px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 10px 0;
  text-align: center;
}

.about .address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.about .header-contacts a::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 19px;
  height: 19px;
  
  background-image: url(../svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.user-link-list {
  
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-link-list li {
  position: relative;
}

.user-link-list a {
  
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
  
}

.user-link-list .login {
  padding: 12px 25px 12px 47px;
  margin-right: 10px;
  
}

.user-link-list a:hover,
.user-link-list a:focus {
	color: #ee3643;
}

.user-link-list a:active {
	color: #b2b2b2;
}

.user-link-list .login:hover path {
 fill: #32425c;
}

.user-link-list .login:active path {
 fill: #c5c5c5;
}

.user-link-list svg {
  position: absolute;
  left: 17px;
  top: 14px;
}

.user-link-list .registration {
  padding: 12px 25px;
}

.site-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.navigation-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}


.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}



.navigation-list a {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.navigation-list a:active {
	background-color: #1d2739;
	color: #868c95
}

.promo {
  margin-bottom: 20px;
 
}

.promo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  list-style: none;
  
  
}

.promo-item {
  width: 300px;
  
  position: relative;
  
  padding: 21px 23px;
  box-sizing: border-box;
  
}
  
.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #fff; 
  margin: 0;
  margin-bottom: 14px;	
  
  
}

.promo-motto {
  width: 135px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0 , 0.1);
  
  text-align: center;
  
}



.promo-motto a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
}

.promo-motto a:hover,
.promo-motto a:focus {
	background-color: rgba(0, 0, 0 , 0.2);
	border-radius: 5px;
}
	
.promo-motto a:active {
	background-color: rgba(0, 0, 0 , 0.3);
}	

.materials {
  background-color: #f6b22d;
}

.materials::before {
	content: "";
	position: absolute;
	left: 212px;
	top: 31px;
	width: 44px;
	height: 65px;
	background-image: url(../svg/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.materials::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}


.tools {
  background-color: #4aafde;
}

.tools::before {
	content: "";
	position: absolute;
	right: 29px;
	top: 31px;
	width: 75px;
	height: 61px;
	background-image: url(../svg/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.mechanisms {
  background-color: #cc79d1;
}

.mechanisms::before {
	content: "";
	position: absolute;
	right: 29px;
	top: 31px;
	width: 78px;
	height: 62px;
	background-image: url(../svg/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-other {
	margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.slider { 

}

.slider .wrapper {
	position: relative;
	width: 620px;
}

.slider-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.slider-list-item {
	display: none;
	
	width: 620px;
	min-height: 266px;
	color: #fff;
	
}

.slider-list-item h3 {
	margin: 0;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	
}

.slider-list-item span {
	display: block;
	font-size: 18px;
    line-height: 24px;
	margin-top: 5px;
	
}

.slider-list-item:first-child {
	background-image: url(../img/bosch-top.jpg);
	background-repeat: no-repeat;
	
}

.slider-list-item:last-child {
	background-image: url(../img/bosch-bottom.jpg);
	background-repeat: no-repeat;
	
}

.slider-list-item .slider-description {
	background-color: rgba(0,0,0,.2);
    padding: 23px 25px;
	
}

.slider-list-item a {
	display: block;
	width: 195px;
	margin-top: 102px;
	margin-left: 26px;
	padding: 10px 0;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color:#ee3643;
	text-align: center;
	border-radius: 5px;
}

.slider-list-item a:hover {
	background-color:#ca2c37
}

.slider-list-item a:active {
	background-color: #ba2732;
}

.slider input[type=radio] {
	display: none;
}

.slider-controls {
	position: absolute;
	top: 216px;
	left: 294px;
	
}

.slider-controls label {
	position:relative;
	display:inline-block;
	width:10px;
	height:10px;
	margin-right:8px;
	border-radius:50%;
	cursor:pointer
}

.slider-controls label::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider-controls-buttons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 120px;
	left: 20px;
	width: 587px;
}

.slider-controls-buttons label {
	display: inline-block;
	position: relative;
	padding: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.slider-controls-buttons label::before {
	position: absolute;
	top: 0;
	content: "";
	width: 24px;
	height: 24px;
	border: 3px solid #fff;
	transform: rotate(45deg);
	
}

.slider-controls-buttons label:first-child::before {
	border-top-style: none;
	border-right-style: none;
}

.slider-controls-buttons label:last-child::before {
	border-left-style: none;
	border-bottom-style: none;
}

#slide-1:checked ~ .slider-controls .slider-controls-item-1::after,
#slide-2:checked ~ .slider-controls .slider-controls-item-2::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border-radius: 50%;
}

#slide-1:checked ~ .slider-list .slider-list-item:first-child,
#slide-2:checked ~ .slider-list .slider-list-item:last-child {
	display: block;
}
/*
.slider-wrapper {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-wrapper input {
  display: none;
}

.slider-list {
  width: inherit;
  height: inherit;
	position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ddd;
  
}

.slider-item {
 
	position: absolute;
  width: inherit;
  height: inherit;
  color: #fff;
}

.slider-description {
  background-color: rgba(0,0,0,.2);
  padding: 23px 25px;
}

.slider-item h3 {
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-item span {
  display: block;
  
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
}

.slider-item a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-top: 102px;
  margin-left: 26px;
  background-color: #ee3643;
  width: 195px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

.slider-item:nth-child(1) {
	
	background-image: url(../img/bosch-top.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-item:nth-child(2) {
  
  background-image: url(../img/bosch-bottom.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-wrapper .slider-controls {
  position: absolute;
  left: 290px;
  bottom: 42px;
  
}

.slider-controls label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
}

.slider-controls label:nth-of-type(1) {
  margin-right: 8px;
}

#slide1:checked ~ .slider-controls label:nth-of-type(1),
#slide2:checked ~ .slider-controls label:nth-of-type(2) {
  background-color: #ee3643;
}

#slide1:checked ~ .promo-other .slider-item:nth-child(1)
#slide2:checked ~ .promo-other .slider-item:nth-child(2) {
  display: block;
  
}

.slider-buttons label {
  
}

.slider-buttons label:nth-child(2) {
  
}
why slider doesnt work? do right-left buttons */
.promo-other-list {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.sales {
  background-color: #8ed78f;;
  margin-bottom: 18px;
}

.sales::before {
  content: "";
	position: absolute;
	right: 40px;
	top: 29px;
	width: 59px;
	height: 72px;
	background-image: url(../svg/icon-4.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.delivery {
  background-color: #f6b22d;
}

.delivery::before {
	content: "";
	position: absolute;
	right: 29px;
	top: 31px;
	width: 78px;
	height: 63px;
	background-image: url(../svg/icon-5.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-goods {
	margin-bottom: 40px;
  
}

.heading {
	display: flex;
	justify-content: space-between; 
	padding: 28px;
	background-color: #F7F3EC;
	margin-bottom: 20px;
}

.heading h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

 .button {
	width: 253px;
	padding: 10px 0;
	background-color: #ee3643;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ca2c37;
}

.popular-goods-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: 700;

}



.popular-goods .title {
	display: block;
	padding: 0 25px;
	font-size: 18px;
	
	line-height: 20px;
	color: #000;
	text-align: center;
	margin-top: 12px;
}


.popular-goods-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 220px;
	min-height: 250px;
	outline: 1px solid #F7F3EC;
	position: relative;
	
}

.popular-goods-item:hover {
	box-shadow: 0 10px 35px 5px #bec2c6;
}

.popular-goods-item:nth-child(4)::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
	

.popular-goods-image {
	width: inherit;
	opacity: 1;
	
	min-height: 167px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popular-goods span {
	display: block;
	margin-top: 10px;
	font-size: 17px;
}

.popular-goods .old-price {
	
	text-decoration: line-through;
	color: #a9a9a9;
	
	min-height: 18px;
	
	
}

.popular-goods .new-price {
	text-align: center;
	width: 80px;
	padding: 10px 30px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	border-radius: 5px;
	background-color: #EE3643;
	
}

.popular-goods .new-price::after {
	content: "";
	position: absolute;
	top: 0px;
	right: -19px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #EE3643;
}

.item-buttons {
	opacity: 0;
	position: absolute;
	top: 43px;
	text-align: center;
}

.popular-goods-item:hover .item-buttons {
	opacity: 1;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

.popular-goods-item:hover img {
	opacity: 0;
}


.item-buttons button {
	width: 135px;
	
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}
.item-buttons .button-buy {
	position: relative;
	padding: 11px 0;
	margin-bottom: 7px;
	background-color: #63a63e;
	color: #fff;
	box-shadow: inset 0 -3px 0 0 #367315;
	border: none;
}

.button-buy:hover {
 background-color: #5fbb2d;
 fill: white;
}

.button-buy:active {
	background-color:#518534;
	box-shadow: none;
}

.item-buttons svg {
	position: absolute;
	left: 12px;
	fill: #92c178;
}

.button-buy:hover svg,
.button-buy:active svg {
 
	fill: #fff;
 }

.item-buttons .button-bookmarks {
	padding: 8px 0;
	border: 3px solid #63a63e;
	border-radius: 5px;
	background-color: #fff;
}

.button-bookmarks:hover {
	border-color: #32425c;
}

.button-bookmarks:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.popular-makers {
	margin-bottom: 100px;
}

.popular-makers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	
	
}

.popular-makers-item {
	position: relative;
	width: 218px;
	min-height: 143px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-color: #fff;
}

.popular-makers-item:hover {
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.popular-makers-item:active {
	opacity: 0.3;
	box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.popular-makers-list a {
	display: block;
	width: inherit;
	min-height: 143px;
}

.popular-makers-item img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services {
	margin-bottom: 100px;
}

.services h2 {
	
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 400;
}

.services-intro {
	font-family: 'PTsans','Arial',sans-serif;
	line-height: 24px;
}

.services-wrapper {
	display: flex;
}

.services-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.services-item {
	width: 240px;
	
	
	
}

.services input[type=radio] {
	display: none;
}

.services-item label {
	display: block;
	
	font-size: 21px;
	font-weight: 700;
	color: #fff;
	background-color: #32425c; 
	padding: 22px 20px;
	cursor: pointer;
	box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.services-item label:hover {
  background-color: #293449;
}

#services-1:checked ~ .services-wrapper .services-item-1,
#services-2:checked ~ .services-wrapper .services-item-2,
#services-3:checked ~ .services-wrapper .services-item-3 {
	color: #32425c;
	background-color: #fff;
	box-shadow: none;
	transition-duration: 0.2s;
}

.description-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 80px;
}

.description-item {
	display: none;
	position: relative;
	
}

#services-1:checked ~ .services-wrapper .description-item:nth-child(1),
#services-2:checked ~ .services-wrapper .description-item:nth-child(2),
#services-3:checked ~ .services-wrapper .description-item:nth-child(3) {
	display: block;
}

.description-item h3 {
	font-size: 36px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;
}

.description-item p {
	width: 280px;
	font-family: 'PTsans','Arial',sans-serif;
	line-height: 24px;
}

.description-item img {
	position: absolute;
	top: 10px;
	left: 400px;
}

.company-info-and-contacts-wrapper {
	display: flex;
	justify-content: space-between;
  
}

.company-info {
	width: 545px;
}

.company-info h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
}

.company-info p {
	width: 530px;
  margin: 0;
	margin-bottom: 30px;
	line-height: 24px;
}


.company-info p:nth-of-type(2) {
	
	margin-bottom: 20px;

}

.contacts {
	width: 300px;
}

.company-info-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 30px;
}

.company-info-item {
	position: relative;
	padding-left: 35px;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	
}

.company-info-item::before {
	position: absolute;
	left: 2px;
	top: 10px;
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.company-info a {
	display: block;
width: 220px;
text-align: center;
text-transform: uppercase;
padding: 10px 0;

font-size: 14px;
line-height: 18px;
color: #fff;
background-color: #ee3643;
border-radius: 5px;
}

.company-info a:hover,
.company-info a:focus {
	 background-color: #ca2c37;
}

.company-info a:active {
	 background-color: #ba2732;
}

.contacts h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
}

.contacts p {
  line-height: 24px;
  margin: 0;
  margin-bottom: 35px;
}

.contacts img {
  margin-bottom: 30px;
}

.contacts a {
  display: block;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  border-radius: 5px;
}

.contacts a:hover,
.contacts a:focus {
	 background-color: #ca2c37;
}

.contacts a:active {
	 background-color: #ba2732;
}

.main-footer {
  margin-top: 85px;
}

.footer-top {
  background-color: #32425c;
  
  padding-bottom: 42px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;
  
}

.main-footer h2 {
  
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 220px;
  margin-bottom: 35px;
  box-shadow: 0 5px 0 0 #b52933;
  background-color: #ee3643;
  padding: 17px 0;
}

.address p {
  width: 340px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer-site-navigation {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 24px;
  
  
}

.footer-site-navigation li {
  

  margin-bottom: 10px;
}

.footer-site-navigation a {
  display: block;
  padding: 15px 28px;
}


.footer-site-navigation li:nth-child(6) {
  margin-left: 22px;
}

.footer-site-navigation li:nth-child(n+6) a {
  color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
  
}

.footer-bottom {
  padding: 35px 0;
  background-color: #293449;
  font-size: 16px;
  color: #fff;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #ffd180;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 135px;
}

.social-list a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  
}

.social-list svg {
  
  fill: #fff;
  
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  background-color: #ee3643;
}

.footer-bottom p a:hover,
.footer-bottom p a:focus {
  text-decoration: underline;
}

.footer-bottom p a:active {
  color: #ee3643;
  text-decoration: none;
}




/* catalog.html */

.inner-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
  margin-right: 30px;
  text-transform: uppercase;
}



.breadcrumbs li:not(:first-child) a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  width: 8px;
  height: 12px;
  background-image: url(../svg/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-title {
  padding: 34px 30px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filters {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.filters-title {
  
  padding: 11px 20px;
  font-family: 'PTsans','Arial',sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.check-filter {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 30px;
}

.inner-page form {
  font-family: 'PTsans','Arial',sans-serif;
  
}

.check-filter .legend {
  
}

.check-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-filter li {
  padding-left: 35px;
  position: relative;
}

.catalog {
	  width: 700px;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: 700;

}



.catalog .title {
	display: block;
	padding: 0 25px;
	font-size: 18px;
	
	line-height: 20px;
	color: #000;
	text-align: center;
	margin-top: 12px;
}


.catalog-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 220px;
	min-height: 250px;
	outline: 1px solid #F7F3EC;
	position: relative;
	
}


.catalog-item:hover {
	box-shadow: 0 10px 35px 5px #bec2c6;
}

.catalog-item:nth-child(4)::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
	

.catalog-image {
	width: inherit;
	opacity: 1;
	
	min-height: 167px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.catalog span {
	display: block;
	margin-top: 10px;
	font-size: 17px;
}

.catalog .old-price {
	
	text-decoration: line-through;
	color: #a9a9a9;
	
	min-height: 18px;
	
	
}

.catalog .new-price {
	text-align: center;
	width: 80px;
	padding: 10px 30px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	border-radius: 5px;
	background-color: #EE3643;
	
}

.catalog .new-price::after {
	content: "";
	position: absolute;
	top: 0px;
	right: -19px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #EE3643;
}

.item-buttons {
	opacity: 0;
	position: absolute;
	top: 43px;
	text-align: center;
}

.catalog-item:hover .item-buttons {
	opacity: 1;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

.catalog-item:hover img {
	opacity: 0;
}



