@font-face {
  font-family: 'Cuprum';
  src: local('cuprum'),
       url(../fonts/cuprum.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumbold'),
       url(../fonts/cuprumbold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumbolditalic'),
       url(../fonts/cuprumbolditalic.woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumitalic'),
       url(../fonts/cuprumitalic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PTsans';
  src: local('ptsans'),
       url(../fonts/ptsans.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTsans';
  src: local('ptsansbold'),
       url(../fonts/ptsansbold.woff2);
  font-weight: 700;
  font-style: normal;
}



html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum','Arial',sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
 
  background-color: #ffffff;
  
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #f4f7f9;
  margin-bottom: 120px;
}

.main-header h1 {
  width: 220px;
  margin: 0;
  
  box-shadow: 0 5px 0 0 #b52933;
  background-color: #ee3643;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  
}

.user-toolkit {
  display: flex;
  
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  
}  

.logo a {
  display: inline-block;
  padding: 9px 55px;  
}

.main-header-wrapper {
  width: 100%;
  
  background-color: #293449;
  margin-bottom: 45px;
}

.container {
  width: 940px;
  margin: 0 auto;
  
}

.search-form {
	position: relative;
}

.search-form label {
	position: absolute;
	top: 12px;
	left: 17px;
}

.search-form input {
  width: 270px;
  padding: 12px 0;
  padding-left: 50px;
  
  border: none;
  background-color: transparent;
  font: inherit;
  color: #fff;
  
}



.header-buttons {
    display: flex;
  
	padding: 0;
	margin: 0;
	list-style: none;
	
}
.menu-item {
	position: relative;
	width: 150px;
	text-align: center;
	
}

.menu-item svg {
	position: absolute;
	top: 12px;
	left: 17px;
}

.menu-item path {
	fill: #6a7180;
}

.menu-item:last-child {
	background-color: #63a63e;
}

.header-buttons a {
  display: block;
  color: #fff;
}

.header-buttons a:not(.ordering) {
	padding: 12px 0 12px 17px;
}

.header-buttons .ordering {
  padding: 12px 0;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}	
	
.description {
  width: 205px;
  line-height: 23px;
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  
}

.contacts {
  position: relative;
}

.contacts a {
  display: block;
  width: 265px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 10px 0;
  text-align: center;
}

.address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.contacts a::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 19px;
  height: 19px;
  
  background-image: url(../svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

.user-link-list {
  
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-link-list li {
  position: relative;
}

.user-link-list a {
  
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
  
}

.user-link-list .login {
  padding: 12px 25px 12px 47px;
  margin-right: 10px;
}

.user-link-list .login::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  background-image: url(../svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 15px;
  top: 14px;
}

.user-link-list .registration {
  padding: 12px 25px;
}

.site-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.navigation-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}


.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}

.navigation-list a {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.promo {
  margin-bottom: 20px;
 
}

.promo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  list-style: none;
  
  
}

.promo-item {
  width: 300px;
  
  position: relative;
  
  padding: 21px 23px;
  box-sizing: border-box;
  
}
  
.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #fff; 
  margin: 0;
  margin-bottom: 14px;	
  
  
}

.promo-motto {
  width: 135px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0 , 0.1);
  
  text-align: center;
  
}



.promo-motto a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
}

.promo-motto a:hover,
.promo-motto a:focus {
	background-color: rgba(0, 0, 0 , 0.2);
	border-radius: 5px;
}
	

.materials {
  background-color: #f6b22d;
}

.materials::before {
	content: "";
	position: absolute;
	left: 212px;
	top: 31px;
	width: 44px;
	height: 65px;
	background-image: url(../svg/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.materials::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	
}


.tools {
  background-color: #4aafde;
}

.tools::before {
	content: "";
	position: absolute;
	right: 29px;
	top: 31px;
	width: 75px;
	height: 61px;
	background-image: url(../svg/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.mechanisms {
  background-color: #cc79d1;
}

.mechanisms::before {
	content: "";
	position: absolute;
	right: 29px;
	top: 31px;
	width: 78px;
	height: 62px;
	background-image: url(../svg/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.promo-other {
	margin-bottom: 40px;
}

.promo-other-container {
  display: flex;
  justify-content: space-between;
}

.slider-wrapper {
  outline: 1px solid black;
  position: relative;
  height: 266px;
  width: 620px;

}

.slider-wrapper input {
  display: none;
}

.slider {
	position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
  background-color: #ddd;
  
}

.slides {
	position: absolute;
  width: inherit;
  height: inherit;
}

.slide1 {
	
	background-image: url(../img/bosch-top.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slide2 {
  
  background-image: url(../img/bosch-bottom.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-wrapper .controls {
  position: absolute;
  left: 290px;
  bottom: 42px;
}

.slider-controls label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #fff;
}

.slider-controls label:nth-of-type(1) {
  margin-right: 8px;
}

#slide1:checked ~ .slider-controls label:nth-of-type(1),
#slide2:checked ~ .slider-controls label:nth-of-type(2) {
  background-color: red;
}
/*
.slider-wrapper label::after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  width: 10px;
  height: 10px;
  border: 4px solid #fff;
  border-radius: 50%;
}
*/
.promo-other-list {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.sales {
  background-color: #8ed78f;;
  margin-bottom: 18px;
}

.sales::before {
  content: "";
	position: absolute;
	right: 40px;
	top: 29px;
	width: 59px;
	height: 72px;
	background-image: url(../svg/icon-4.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.delivery {
  background-color: #f6b22d;
}

.delivery::before {
	content: "";
	position: absolute;
	right: 29px;
	top: 31px;
	width: 78px;
	height: 63px;
	background-image: url(../svg/icon-5.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-goods {
	margin-bottom: 40px;
}

.heading {
	display: flex;
	justify-content: space-between; 
	padding: 28px;
	background-color: rgba(255, 0, 0, 0.2);
	margin-bottom: 20px;
}

.heading h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.heading .button {
	width: 253px;
	padding: 10px 0;
	background-color: red;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
}

.popular-goods-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: 700;

}



.popular-goods .title {
	display: block;
	padding: 0 25px;
	font-size: 18px;
	
	line-height: 20px;
	color: #000;
	text-align: center;
	margin-top: 12px;
}


.popular-goods-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 220px;
	min-height: 250px;
	background-color: rgba(255, 0, 0, 0.2);
	position: relative;
	
}

.popular-goods-item:nth-child(4)::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
	

.popular-goods-image {
	width: inherit;
	text-align: center;
	
	min-height: 167px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popular-goods span {
	display: block;
	margin-top: 10px;
	font-size: 17px;
}

.popular-goods .old-price {
	
	text-decoration: line-through;
	color: #a9a9a9;
	
	min-height: 18px;
	
	
}

.popular-goods .new-price {
	text-align: center;
	width: 80px;
	padding: 10px 30px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	border-radius: 5px;
	background-color: #EE3643;
	
}

.popular-goods .new-price::after {
	content: "";
	position: absolute;
	top: 0px;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #EE3643;
}

.popular-makers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	
	
}

.popular-makers-item {
	position: relative;
	width: 218px;
	min-height: 143px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-color: #fff;
}

.popular-makers-item:hover {
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.popular-makers-item:active {
	opacity: 0.3;
	box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.popular-makers-list a {
	display: block;
	width: inherit;
	min-height: 143px;
}

.popular-makers-item img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
}

.services-intro {
	line-height: 24px;
}

.services-list {
	padding: 0;
	margin: 0;
	list-style: none;
}